@page "/wiki/banshee"

<div class="wiki-container">
	<img src="/Images/GhostIcons/banshee.webp"/>
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Banshee
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 50% (target only, not average)</li>
				<li>Can only kill 1 player (= target)
					<ul><li>If the target is outside the house, the Banshee can kill any player</li></ul>
				</li>
				<li>When performing a roam and the target is inside the map, it has a 67% chance to long roam to the target instead. 
					This will not create any EMF reading.
					<br />The ability will fail, if the ghost and target are on different floors except if:
					<ul>
						<li>The map is 'Point Hope'</li>
						<li>The Banshee is in a single-room basement or attic</li>
					</ul>
				</li>
				<li>Prefers singing ghost events
					<ul><li>The hunt target will lose 15% instead of 10% sanity if they are the event target and prematurely end the event</li></ul>
				</li>
				<li>When in a D.O.T.S. state, the Banshee will try to move towards its target instead of the nearest player</li>
				<li>Has a 33% chance of making 1 of 20 unique screams (= banshee screams) on the Parabolic Microphone and Sound Recorder</li>
			</ul>
		</div>
	</div>
</div>