@page "/wiki/banshee"
@using PhasmoStatsBlazor.Services

<div class="wiki-container">
	<img src="/Images/GhostIcons/banshee.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Banshee
		</h1>
		<hr />
		<div class="text-section grid-split">
			<span class="section-header">Hunting Threshold:</span>
			<div class="sanity-container">
				<img src="/Images/SanityIcons/MediumSanity.png" />
				<div class="threshold-text">50%</div>
			</div>
			<div class="wiki-info">Only the target's sanity is relevant!</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="grid-split">
				<div class="sanity-container">
					<img src="@ItemTierService.VideoPath" />
					<div class="evidence-text orb-text">Ghost Orb</div>
				</div>
				<div class="sanity-container">
					<img src="@ItemTierService.UvPath" />
					<div class="evidence-text uv-text">UV</div>
				</div>
				<div class="sanity-container">
					<img src="@ItemTierService.DotsPath" />
					<div class="evidence-text dots-text">D.O.T.S.</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Behaviour<br /></div>
			<div class="wiki-info">
				In the beginning of the game the Banshee chooses a player as target.
				Only when the current target dies or leaves the game, a new player is chosen.

				<br /><br />Banshees prefer singing ghost events. If the target is also the event-target and ends such an event prematurely, 
				they will lose 15% sanity instead of the normal 10%.

				<br /><br />When in a D.O.T.S. state, the Banshee will try to move towards its target instead of the nearest player.
			</div>
			<br />
			<div class="section-header">Abilities<br /></div>
			<div class="wiki-info">
				When performing a roam and the target is inside the investigation area,
				the Banshee has a 67% chance to long roam to the target. This will not create any EMF reading.
				<br />This ability will fail, if the ghost and target are on different floors except if:
				<ul>
					<li>The map is 'Point Hope'.</li>
					<li>The Banshee is in a single-room basement or attic.</li>
				</ul>
				<br />There is a 33% chance of getting 1 out of 20 unique screams (= banshee screams) instead of a normal sound
				while using a Parabolic Microphone or Sound Recorder.
			</div>
			<br />
			<div class="section-header">Hunt<br /></div>
			<div class="wiki-info">
				The target is the only player who can die during a hunt.
				<b>BUT</b> if the target is outside the investigation area, the Banshee can kill anyone.
			</div>
			<br />
		</div>
	</div>
</div>