@page "/wiki/demon"

<div class="wiki-container">
	<img src="/Images/GhostIcons/demon.webp"/>
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Demon
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 70% or 100% (with ability)</li>
				<li>Can hunt at any sanity when using its ability. There are no conditions for that to happen</li>
				<li>Crucifixes have a 50% larger range</li>
				<li>Cannot hunt for 60 seconds after being smudged</li>
			</ul>
		</div>
	</div>
</div>