@page "/wiki/deogen"

<div class="wiki-container">
	<img src="/Images/GhostIcons/deogen.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Deogen
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 40%</li>
			</ul>
		</div>
	</div>
</div>