@page "/wiki/goryo"
@using PhasmoStatsBlazor.Services


<div class="wiki-container">
	<img src="/Images/GhostIcons/goryo.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Goryo
		</h1>
		<hr />
		<div class="text-section">
			<div class="grid-split">
				<span class="section-header">Hunting Threshold:</span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/MediumSanity.png" />
					<div class="threshold-text">50%</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="grid-split">
				<div class="sanity-container">
					<img src="@ItemTierService.EmfPath" />
					<div class="evidence-text emf-text">EMF 5</div>
				</div>
				<div class="sanity-container">
					<img src="@ItemTierService.UvPath" />
					<div class="evidence-text uv-text">UV</div>
				</div>
				<div class="sanity-container">
					<img src="@ItemTierService.DotsPath" />
					<div class="evidence-text dots-text">D.O.T.S.<br />(FORCED)</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Behaviour<br /></div>
			<div class="wiki-info">
				The Goryo will enter the D.O.T.S. state more frequently than other ghosts.
			</div>
			<br />
			<div class="section-header">Ability<br /></div>
			<div class="wiki-info">
				The Goryo will only enter the D.O.T.S. state if no players are in the same room as the ghost.
				Additionally, the D.O.T.S. silhouette is only visible through a Video Camera.
			</div>
			<br />
			<div class="section-header">Inabilities<br /></div>
			<div class="wiki-info">
				Goryos cannot change their ghost room. They can roam around tho.
			</div>
			<br />
		</div>
	</div>
</div>
