@page "/wiki/goryo"

<div class="wiki-container">
	<img src="/Images/GhostIcons/goryo.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Goryo
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 50%</li>
				<li>Cannot change ghost room</li>
				<li>Shows D.O.T.S. only on camera, when noone is inside the room</li>
			</ul>
		</div>
	</div>
</div>