@page "/wiki/hantu"
@using PhasmoStatsBlazor.Services

<div class="wiki-container">
	<img src="/Images/GhostIcons/hantu.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Hantu
		</h1>
		<hr />
		<div class="text-section">
			<div class="grid-split">
				<span class="section-header">Hunting Threshold:</span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/MediumSanity.png" />
					<div class="threshold-text">50%</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="grid-split">
				<div class="sanity-container">
					<img src="@ItemTierService.VideoPath" />
					<div class="evidence-text orb-text">Ghost Orb</div>
				</div>
				<div class="sanity-container">
					<img src="@ItemTierService.ThermoPath" />
					<div class="evidence-text freezing-text">Freezing<br />(FORCED)</div>
				</div>
				<div class="sanity-container">
					<img src="@ItemTierService.UvPath" />
					<div class="evidence-text uv-text">UV</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Behaviour<br /></div>
			<div class="wiki-info">
				Hantus are twice as likely to turn off the fuse box.
			</div>
			<br />
			<div class="section-header">Inabilities<br /></div>
			<div class="wiki-info">
				Hantus cannot turn on the fuse box, as doing so would weaken the ghost.
			</div>
			<br />
			<div class="section-header">Hunt<br /></div>
			<div class="wiki-info">
				The Hantu's speed during a hunt depends on the room's temperature.
				Hantus cannot speed up in line-of-sight.
				<table class="wiki-table">
					<thead>
						<tr>
							<th>Room Temperature</th>
							<th>Ghost Speed (m/s)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>> 15°C / 59°F</td>
							<td>1.4</td>
						</tr>
						<tr>
							<td>12-15°C / 53.6-59°F</td>
							<td>1.75</td>
						</tr>
						<tr>
							<td>9-12°C / 48.2-53.6°F</td>
							<td>2.1</td>
						</tr>
						<tr>
							<td>6-9°C / 42.8-48.2°F</td>
							<td>2.3</td>
						</tr>
						<tr>
							<td>3-6°C / 37.4-42.8°F</td>
							<td>2.5</td>
						</tr>
						<tr>
							<td>&lt; 0°C / 32°F</td>
							<td>2.7</td>
						</tr>
					</tbody>
				</table>
				<br />
				If the fuse box is turned off during a hunt, the Hantu will emit freezing breath near its head. 
				Dead players cannot see this breath.
			</div>
			<br />
		</div>
	</div>
</div>
