@page "/wiki/jinn"

<div class="wiki-container">
	<img src="/Images/GhostIcons/jinn.webp"/>
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Jinn
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 50%</li>
				<li>Cannot turn the breaker off</li>
				<li>Instantly speeds up to a fixed 2.5m/s when further away than 3 metres from a player and in line-of-sight
				</li>
				<li>Can drain 25% of one player inside the same room or within 3 metres, leaving EMF 2 / 5 at the breaker</li>
			</ul>
		</div>
	</div>
</div>