@page "/wiki/mare"

<div class="wiki-container">
	<img src="/Images/GhostIcons/mare.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Mare
		</h1>
		<hr />
		<div class="text-section">
			<div class="hunting-threshold-split">
				<span class="section-header">Hunting Threshold:</span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/LowSanity.png" />
					<div class="threshold-text">40%</div>
				</div>
				<div class="wiki-info">When lights are on in the room</div>
			</div>
			<br />
			<div class="hunting-threshold-split">
				<span></span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/HighSanity.png" />
					<div class="threshold-text">60%</div>
				</div>
				<div class="wiki-info">When lights are off in the room</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="hunting-threshold-split">
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/video-t1.webp" />
					<div class="evidence-text orb-text">Orb</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/box-t1.webp" />
					<div class="evidence-text box-text">Spirit Box</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/book-t1.webp" />
					<div class="evidence-text book-text">Writing</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Behaviour</div>
			<div class="wiki-info">
				When lights are on in its current room, the Mare is more likely to perform a long roam.
				<br /><br />
				The Mare has a higher chance to perform light shattering ghost events.
			</div>
			<br />
			<div class="section-header">Abilities<br /></div>
			<div class="wiki-info">
				The Mare can turn off a light almost instantly, with a maximum delay of 1 second, if a player turns a light on within 4 meters of the ghost.
				<br />Each light has a minimum cooldown per player of 10 seconds after it has been turned on or off.
				Interacting with a light before the cooldown ends restarts it.
				<br />This ability does not work if the lights are already shattered.
			</div>
			<br />
			<div class="section-header">Inabilities</div>
			<div class="wiki-info">
				The Mare cannot turn lights on, as doing so would weaken the ghost.
			</div>
		</div>
	</div>
</div>