@page "/wiki/moroi"

<div class="wiki-container">
	<img src="/Images/GhostIcons/moroi.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Moroi
		</h1>
		<hr />
		<div class="text-section">
			<div class="hunting-threshold-split">
				<span class="section-header">Hunting Threshold:</span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/MediumSanity.png" />
					<div class="threshold-text">50%</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="hunting-threshold-split">
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/box-t1.webp" />
					<div class="evidence-text box-text">Spirit Box</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/thermometer-t1.webp" />
					<div class="evidence-text freezing-text">Freezing</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/book-t1.webp" />
					<div class="evidence-text book-text">Writing</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Abilities</div>
			<div class="wiki-info">
				When obtaining a successful response from a Spirit Box, sound from a Parabolic Microphone
				or successfully recording any sound with a sound sensor, the Moroi will curse that player.
				<br />Being cursed doubles the passive sanity drain and being in a lit area will no longer prevent sanity drain.
				Leaving the investigation area will still pause the sanity drain, and firelights will still mitigate the sanity drain.
				<br />The curse can only be removed by consuming Sanity Medication.
			</div>
			<div class="section-header">Hunt</div>
			<div class="wiki-info">
				When using an Incense during a hunt, the duration where the Moroi cannot see nor kill players is 7.5 seconds instead of 5.
				<br /><br />
				The Moroi's base speed depends on the average sanity. 
				This is not a fixed speed, the Moroi can additionally speed up in line-of-sight.
				<table class="wiki-table">
					<thead>
						<tr>
							<th>Average Sanity</th>
							<th>Base Speed</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>≥ 45%</td>
							<td>1.5m/s</td>
						</tr>
						<tr>
							<td>40% - 45%</td>
							<td>1.583m/s</td>
						</tr>
						<tr>
							<td>35% - 40%</td>
							<td>1.66m/s</td>
						</tr>
						<tr>
							<td>30% - 35%</td>
							<td>1.749m/s</td>
						</tr>
						<tr>
							<td>25% - 30%</td>
							<td>1.832m/s</td>
						</tr>
						<tr>
							<td>20% - 25%</td>
							<td>1.915m/s</td>
						</tr>
						<tr>
							<td>15% - 20%</td>
							<td>1.998m/s</td>
						</tr>
						<tr>
							<td>10% - 15%</td>
							<td>2.081m/s</td>
						</tr>
						<tr>
							<td>5% - 10%</td>
							<td>2.164m/s</td>
						</tr>
						<tr>
							<td>0% - 5%</td>
							<td>2.25m/s</td>
						</tr>
					</tbody>
				</table>
				<br />
			</div>
		</div>
	</div>
</div>
