@page "/wiki/moroi"

<div class="wiki-container">
	<img src="/Images/GhostIcons/moroi.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Moroi
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 50%</li>
				<li>Is faster the lower the average sanity is</li>
				<li>Smudging during a hunt will blind the Moroi for 50% longer</li>
				<li>Can curse a player through a sucessful response from a spirit box, sound from a parabolic microphone 
					<br />or successfully recording any sound with a sound recorder
					<ul>
						<li>The curse can only be removed by taking sanity medication</li>
						<li>A cursed player's passive sanity drain is doubled</li>
						<li>Being in a lit area will not prevent sanity drain</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>