@page "/wiki/myling"

<div class="wiki-container">
	<img src="/Images/GhostIcons/myling.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Myling
		</h1>
		<hr />
		<div class="text-section">
			<div class="grid-split">
				<span class="section-header">Hunting Threshold:</span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/MediumSanity.png" />
					<div class="threshold-text">50%</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="grid-split">
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/emf.webp" />
					<div class="evidence-text emf-text">EMF 5</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/uv.webp" />
					<div class="evidence-text uv-text">UV</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/book.webp" />
					<div class="evidence-text book-text">Writing</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Behaviour<br /></div>
			<div class="wiki-info">
				Mylings produce paranormal sounds on a Parabolic Microphone or Sound Recorder every 64 - 127 seconds, instead of every 80 - 127 seconds.
			</div>
			<br />
			<div class="section-header">Hunt<br /></div>
			<div class="wiki-info">
				During a hunt, a Myling's footsteps and vocalization can only be heard within 12 meters instead of 20 meters.
			</div>
			<br />
		</div>
	</div>
</div>
