@page "/wiki/obake"

<div class="wiki-container">
	<img src="/Images/GhostIcons/obake.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Obake
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 50%</li>
				<li>Has a chance to not leave fingerprints</li>
				<li>May cause existing fingerprints to disappear sooner</li>
				<li>Has a small chance of leaving special fingerprints</li>
				<li>Can briefly shapeshift into another model during a hunt</li>
			</ul>
		</div>
	</div>
</div>