@page "/wiki/obake"

<div class="wiki-container">
	<img src="/Images/GhostIcons/obake.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Obake
		</h1>
		<hr />
		<div class="text-section">
			<div class="hunting-threshold-split">
				<span class="section-header">Hunting Threshold:</span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/MediumSanity.png" />
					<div class="threshold-text">50%</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="hunting-threshold-split">
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/emf-t1.webp" />
					<div class="evidence-text emf-text">EMF 5</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/video-t1.webp" />
					<div class="evidence-text orb-text">Ghost Orb</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/uv-t1.webp" />
					<div class="evidence-text uv-text">UV<br />(FORCED)</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Abilities</div>
			<div class="wiki-info">
				The Obake has a 75% chance of leaving UV evidence instead of the usual 100%.
				<br /><br />
				When creating handprints or fingerprints, there is a one-sixth (~16.7%) chance
				for the Obake to create a unique handprint/fingerprint pattern:
				<ul>
					<li>A six-fingered handprint instead of the usual 5 fingers</li>
					<li>Two fingers instead of one on light switches, lamps and TV remotes</li>
					<li>Fives fingerprints instead of four on keyboards and Prison cell doors</li>
				</ul>
				<br />
				The Obake occasionally triggers an ability to reduce the remaining time for all existing fingerprints on the map by half.
			</div>
			<br />
			<div class="section-header">Hunt<br /></div>
			<div class="wiki-info">
				During a hunt, the Obake will occasionally shapeshift into a different ghost model of the same gender during a flicker.
				Dead players cannot see this shapeshift.
				<br />
				A shapeshift will always occur on the 12th, 27th, 39th, 54th, 62nd, 80th, 105th, 120th, and 132nd flickers (starting with the first flicker-in) of a hunt.
			</div>
			<br />
		</div>
	</div>
</div>
