@page "/wiki/oni"

<div class="wiki-container">
	<img src="/Images/GhostIcons/oni.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Oni
		</h1>
		<hr />
		<div class="text-section">
			<div class="hunting-threshold-split">
				<span class="section-header">Hunting Threshold:</span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/MediumSanity.png" />
					<div class="threshold-text">50%</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="hunting-threshold-split">
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/emf-t1.webp" />
					<div class="evidence-text emf-text">EMF 5</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/thermometer-t1.webp" />
					<div class="evidence-text freezing-text">Freezing</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/dots-t1.webp" />
					<div class="evidence-text dots-text">D.O.T.S.</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Behaviour</div>
			<div class="wiki-info">
				The Oni has increased activity when players are nearby.
				<br /><br />
				Onis prefer to manifest in its full form when performing a ghost event.
			</div>
			<br />
			<div class="section-header">Abilities<br /></div>
			<div class="wiki-info">
				When prematurely ending a ghost event, the target player will lose 20% sanity instead of 10%.
			</div>
			<br />
			<div class="section-header">Inabilities<br /></div>
			<div class="wiki-info">
				Onis cannot perform mist form ghost events.
			</div>
			<br />
			<div class="section-header">Hunt<br /></div>
			<div class="wiki-info">
				During a hunt, the Oni is more visibly than normal ghosts:
				<table class="wiki-table">
					<thead>
						<tr>
							<th>Ghost</th>
							<th>Visibility length (s)</th>
							<th>Invisibility length (s)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Oni</td>
							<td>0.02 - 0.50</td>
							<td>0.01 - 0.50</td>
						</tr>
						<tr>
							<td>Standard Ghost</td>
							<td>0.08 - 0.30</td>
							<td>0.10 - 0.92</td>
						</tr>
					</tbody>
				</table>
				*Values for Oni may not be accurate.
			</div>
			<br />
		</div>
	</div>
</div>