	@page "/wiki/onryo"

<div class="wiki-container">
	<img src="/Images/GhostIcons/onryo.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Onryo
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold:
					<ul>
						<li>Default: 60%</li>
						<li>Near a flame: 40%</li>
						<li>After blowing out the third flame: 100%</li>
					</ul>
				</li>
				<li>Flames will prevent an Onryo from hunting, just like a crucifix (flames take priority over crucifixes)</li>
			</ul>
		</div>
	</div>
</div>