@page "/wiki/phantom"

<div class="wiki-container">
	<img src="/Images/GhostIcons/phantom.webp"/>
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Phantom
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 50%</li>
				<li>Never visible on a photo</li>
				<li>Dissappers instantly after taking a photo / event during an event</li>
				<li>During a hunt, it's invisible much longer</li>
				<li>Can sometimes wander to a random player</li>
				<li>Being within 10 metres of a Phantom while in pseudo line-of-sight (where heartbeats play) reduces the player's sanity by an additional 0.5%/s.
					This does not apply during ghost events if the Phantom was made invisible
				</li>
			</ul>
		</div>
	</div>
</div>