@page "/wiki/phantom"

<div class="wiki-container">
	<img src="/Images/GhostIcons/phantom.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Phantom
		</h1>
		<hr />
		<div class="text-section hunting-threshold-split">
			<span class="section-header">Hunting Threshold:</span>
			<div class="sanity-container">
				<img src="/Images/SanityIcons/MediumSanity.png" />
				<div class="threshold-text">50%</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Abilities<br /></span>
			<div class="wiki-info">
				Phantoms disappear instantly after taking a photo or video during a ghost event.
				<br />A Phantom's ghost photo will not contain the ghost model and will not have a static effect.
				<br /><br />
				During a hunt, the ghost is invisible for a much longer time:
				<table class="wiki-table">
					<thead>
						<tr>
							<th>Ghost</th>
							<th>Visibility length (s)</th>
							<th>Invisibility length (s)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Phantom</td>
							<td>0.08 - 0.30</td>
							<td>0.70 - 1.92</td>
						</tr>
						<tr>
							<td>Standard Ghost</td>
							<td>0.08 - 0.30</td>
							<td>0.10 - 0.92</td>
						</tr>
					</tbody>
				</table>
				<br />
				Being within 10 metres of the ghost while in pseudo line-of-sight (where heartbeats play) reduces the player's sanity by an additional 0.5%/s.
				This does not apply during ghost events if the Phantom was made invisible.
				<br /><br />
				The Phantom can travel to a randomly chosen player. The ghost physically walks to that location, leaving an EMF level 2 where the roam ended.
			</div>
		</div>
	</div>
</div>