@page "/wiki/poltergeist"

<div class="wiki-container">
	<img src="/Images/GhostIcons/poltergeist.webp"/>
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Poltergeist
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 50%</li>
				<li>During a hunt, it throws an item 100% of the time every 0.5 seconds</li>
				<li>Can throw items with much more force outside and during a hunt</li>
				<li>Can throw multiple items at once, reducing each nearby player's sanity by 2% per item<br />if they are in line-of-sight of the ability's spawn location</li>
			</ul>
		</div>
	</div>
</div>