@page "/wiki/raiju"

<div class="wiki-container">
	<img src="/Images/GhostIcons/raiju.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Raiju
		</h1>
		<hr />
		<div class="text-section">
			<div class="hunting-threshold-split">
				<span class="section-header">Hunting Threshold:</span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/MediumSanity.png" />
					<div class="threshold-text">50%</div>
				</div>
				<div class="wiki-info">Normal threshold</div>
			</div>
			<br />
			<div class="hunting-threshold-split">
				<span></span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/HighSanity.png" />
					<div class="threshold-text">65%</div>
				</div>
				<div class="wiki-info">Near electronics</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="hunting-threshold-split">
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/emf-t1.webp" />
					<div class="evidence-text emf-text">EMF 5</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/video-t1.webp" />
					<div class="evidence-text orb-text">Orb</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/dots-t1.webp" />
					<div class="evidence-text dots-text">D.O.T.S.</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Ability<br /></div>
			<div class="wiki-info">
				During a hunt or ghost event, the Raiju interferes with electronics in a 15 meters range instead of 10 meters.
			</div>
			<div class="section-header">Hunt<br /></div>
			<div class="wiki-info">
				The Raiju will instantly speed up to a fixed 2.5m/s if the ghost is within a certain distance of turned on electronics:
				<ul>
					<li>Small maps: 6 meters</li>
					<li>Medium maps: 8 meters</li>
					<li>Large maps: 10 meters</li>
				</ul>
			</div>
		</div>
	</div>
</div>
