@page "/wiki/raiju"

<div class="wiki-container">
	<img src="/Images/GhostIcons/raiju.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Raiju
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 50% default or 65% near electronics</li>
				<li>During a hunt, it interferes with electronics in a 15 metres range instead of 10 metres</li>
				<li>Will instantly speed up to a fixed 2.5m/s if the Raiju is within a certain distance:
					<ul>
						<li>Small maps: 6 metres</li>
						<li>Medium maps: 8 metres</li>
						<li>Large maps: 10 metres</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>