@page "/wiki/revenant"

<div class="wiki-container">
	<img src="/Images/GhostIcons/revenant.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Revenant
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 50%</li>
			</ul>
		</div>
	</div>
</div>