@page "/wiki/revenant"

<div class="wiki-container">
	<img src="/Images/GhostIcons/revenant.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Revenant
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 50%</li>
				<li>Has fixed speeds of 1m/s and 3m/s. The Revenant only speeds up to 3m/s, when detecting a player
					<ul><li>Speed will slowly decrease over ~2.7 seconds to its initial 1m/s after losing all players</li></ul>
				</li>
			</ul>
		</div>
	</div>
</div>