@page "/wiki/revenant"

<div class="wiki-container">
	<div style="position: relative; display: inline-block;">
		<img src="/Images/GhostIcons/revenant.webp" />
		<img src="/Images/Other/crown.png" class="crown" />
	</div>
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Revenant <span style="font-size: 0.7em">❤️</span>
		</h1>
		<hr />
		<div class="text-section">
			<div class="grid-split">
				<span class="section-header">Hunting Threshold:</span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/MediumSanity.png" />
					<div class="threshold-text">50%</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="grid-split">
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/video.webp" />
					<div class="evidence-text orb-text">Ghost Orb</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/thermometer.webp" />
					<div class="evidence-text freezing-text">Freezing</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/book.webp" />
					<div class="evidence-text book-text">Writing</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Hunt</div>
			<div class="wiki-info">
				The Revenant has fixed speeds of 1m/s and 3m/s. It only speeds up to 3m/s when it has detected a player.
				<br />The speed will slowly decrease over ~2.7 seconds to its initial 1m/s after losing all players
				and reaching the location of the last detection.
			</div>
			<br />
		</div>
	</div>
</div>