@page "/wiki/shade"

<div class="wiki-container">
	<img src="/Images/GhostIcons/shade.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Shade
		</h1>
		<hr />
		<div class="text-section">
			<div class="hunting-threshold-split">
				<span class="section-header">Hunting Threshold:</span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/LowSanity.png" />
					<div class="threshold-text">35%</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="hunting-threshold-split">
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/emf-t1.webp" />
					<div class="evidence-text emf-text">EMF 5</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/thermometer-t1.webp" />
					<div class="evidence-text freezing-text">Freezing</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/book-t1.webp" />
					<div class="evidence-text book-text">Writing</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Behaviour / Inabilities</div>
			<div class="wiki-info">
				The Shade is unable to perform any interactions, events and initiate hunts if a player is in the same room as the ghost.
				<br /><br />
				At 100% average sanity, the Shade has a 0% chance to successfully perform a ghost event.
				This chance increases by 2% for every average sanity lost, up to 100%.
				<br /><br />
				Shades have a higher chance to appear as a shadow, when performing a ghost event.
			</div>
			<br />
			<div class="section-header">NOT VERIFIED MECHANICS<br /></div>
			<div class="wiki-info">
				<ul>
					<li>The Shade has a 60% chance to peform a mist form ghost event.</li>
					<li>The Shade cannot perform singing ghost events.</li>
					<li>The Shade cannot blow out any flame during a hunt, when the ghost is in the same room as a player.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
