@page "/wiki/spirit"
@using PhasmoStatsBlazor.Services

<div class="wiki-container">
	<img src="/Images/GhostIcons/spirit.webp"/>
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Spirit
		</h1>
		<hr />
		<div class="text-section grid-split">
			<span class="section-header">Hunting Threshold:</span>
			<div class="sanity-container">
				<img src="/Images/SanityIcons/MediumSanity.png"/>
				<div class="threshold-text">50%</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="grid-split">
				<div class="sanity-container">
					<img src="@ItemTierService.EmfPath" />
					<div class="evidence-text emf-text">EMF 5</div>
				</div>
				<div class="sanity-container">
					<img src="@ItemTierService.BoxPath" />
					<div class="evidence-text box-text">Spirit Box</div>
				</div>
				<div class="sanity-container">
					<img src="@ItemTierService.BookPath" />
					<div class="evidence-text book-text">Writing</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Hunt<br /></div>
			<div class="wiki-info">
				After smudging a Spirit, it is unable to hunt for 180 seconds (3 minutes) instead of 90 seconds.
			</div>
			<br />
		</div>
	</div>
</div>