@page "/wiki/thaye"

<div class="wiki-container">
	<img src="/Images/GhostIcons/thaye.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Thaye
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 15% to 75% depending on age</li>
			</ul>
		</div>
	</div>
</div>