@page "/wiki/thaye"

<div class="wiki-container">
	<img src="/Images/GhostIcons/thaye.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Thaye
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 75% to 15% depending on age</li>
				<li>Activity, hunting threshold and speed depend on age (older = lower)</li>
				<li>Ages every 1-2 minutes if a player is within the same room or 3 metres
					<ul><li>Attempts after 30 seconds if it didn't age</li></ul>
				</li>
				<li>Aging increases the age on the oujia board</li>
				<li>Cannot speed up in line-of-sight</li>
			</ul>
		</div>
	</div>
</div>