@page "/wiki/twins"

<div class="wiki-container">
	<img src="/Images/GhostIcons/twins.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			The Twins
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 50%</li>
				<li>It is <b>one</b> ghost</li>
				<li>When trying to perform an interaction, one of the following occurs:
					<ul>
						<li>50% chance of performing one interaction within the normal range
							<br />(up to 2.12 meters on small and medium maps, and up to 4.24 meters on large maps)</li>
						<li>30% chance of performing one interaction within a larger range
							<br />(up to 8.48 meters on small and medium maps, and up to 16.97 meters on large maps)</li>
						<li>20% chance of performing its ability, which produces two interactions, one in each range, in a timespan of 1 or 2 seconds</li>
					</ul>
				</li>
				<li>When hunting, The Twins choose between a slow (1.5m/s) or fast (1.9m/s) base speed, with each having a 50% chance</li>
			</ul>
		</div>
	</div>
</div>