@page "/wiki/twins"

<div class="wiki-container">
	<img src="/Images/GhostIcons/twins.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			The Twins
		</h1>
		<hr />
		<div class="text-section">
			<div class="grid-split">
				<span class="section-header">Hunting Threshold:</span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/MediumSanity.png" />
					<div class="threshold-text">50%</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="grid-split">
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/emf.webp" />
					<div class="evidence-text emf-text">EMF 5</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/box.webp" />
					<div class="evidence-text box-text">Spirit Box</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/thermometer.webp" />
					<div class="evidence-text freezing-text">Freezing</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Behaviour<br /></div>
			<div class="wiki-info">
				The Twins is just <b>one</b> ghost with 2 interaction ranges.
			</div>
			<br />
			<div class="section-header">Abilities<br /></div>
			<div class="wiki-info">
				When trying to perform an interaction, one of the following occurs:
				<ul>
					<li>50% chance of performing one interaction within the normal range
						<br />(up to 2.12 meters on small and medium maps, and up to 4.24 meters on large maps)</li>
					<li>30% chance of performing one interaction within a larger range
						<br />(up to 8.48 meters on small and medium maps, and up to 16.97 meters on large maps)</li>
					<li>20% chance of performing its ability, which produces two interactions, 
						one in each range, in a timespan of 1 or 2 seconds (= twinteraction)</li>
				</ul>
			</div>
			<div class="section-header">Hunt<br /></div>
			<div class="wiki-info">
				When hunting, The Twins choose between a slow (1.5m/s) or fast (1.9m/s) base speed, with each having a 50% chance.
			</div>
			<br />
		</div>
	</div>
</div>

