@page "/wiki/wraith"

<div class="wiki-container">
	<img src="/Images/GhostIcons/wraith.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Wraith
		</h1>
		<hr />
		<div class="text-section hunting-threshold-split">
			<span class="section-header">Hunting Threshold:</span>
			<div class="sanity-container">
				<img src="/Images/SanityIcons/MediumSanity.png" />
				<div class="threshold-text">50%</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="hunting-threshold-split">
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/emf-t1.webp" />
					<div class="evidence-text emf-text">EMF 5</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/box-t1.webp" />
					<div class="evidence-text box-text">Spirit Box</div>
				</div>
				<div class="sanity-container">
					<img src="/Images/Items/Tier1/dots-t1.webp" />
					<div class="evidence-text dots-text">D.O.T.S.</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Abilities<br /></span>
			<div class="wiki-info">
				The Wraith can teleport to a random player, leaving an EMF level 2 or 5.
				<br />This ghost cannot stop into salt.	
			</div>
		</div>
	</div>
</div>
