@page "/wiki/yokai"
@using PhasmoStatsBlazor.Services

<div class="wiki-container">
	<img src="/Images/GhostIcons/yokai.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Yokai
		</h1>
		<hr />
		<div class="text-section">
			<div class="grid-split">
				<span class="section-header">Hunting Threshold:</span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/MediumSanity.png" />
					<div class="threshold-text">50%</div>
				</div>
				<div class="wiki-info">Normal threshold</div>
			</div>
			<br />
			<div class="grid-split">
				<span></span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/HighSanity.png" />
					<div class="threshold-text">80%</div>
				</div>
				<div class="wiki-info">Talking nearby</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="grid-split">
				<div class="sanity-container">
					<img src="@ItemTierService.VideoPath" />
					<div class="evidence-text orb-text">Ghost Orb</div>
				</div>
				<div class="sanity-container">
					<img src="@ItemTierService.BoxPath" />
					<div class="evidence-text box-text">Spirit Box</div>
				</div>
				<div class="sanity-container">
					<img src="@ItemTierService.DotsPath" />
					<div class="evidence-text dots-text">D.O.T.S.</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Behaviour</div>
			<div class="wiki-info">
				Talking near the Yokai will increase its rate of activity.
				<br /><br />
				When using a Music Box, the Yokai must be closer to the box (2.5 meters instead of 5 meters) for it to trigger the ghost event.
			</div>
			<br />
			<div class="section-header">Hunt<br /></div>
			<div class="wiki-info">
				Talking in the same room as a Yokai temporarily increases the hunting threshold to 80%.
				<br /><br />
				Yokais are almost deaf. They can only hear you and sense your electronics in a 2.5 meters range instead of 7.5 meters.
			</div>
			<br />
		</div>
	</div>
</div>