@page "/wiki/yurei"
@using PhasmoStatsBlazor.Services

<div class="wiki-container">
	<img src="/Images/GhostIcons/yurei.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Yurei
		</h1>
		<hr />
		<div class="text-section">
			<div class="grid-split">
				<span class="section-header">Hunting Threshold:</span>
				<div class="sanity-container">
					<img src="/Images/SanityIcons/MediumSanity.png" />
					<div class="threshold-text">50%</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<span class="section-header">Evidences</span>
			<div class="grid-split">
				<div class="sanity-container">
					<img src="@ItemTierService.VideoPath" />
					<div class="evidence-text orb-text">Ghost Orb</div>
				</div>
				<div class="sanity-container">
					<img src="@ItemTierService.ThermoPath" />
					<div class="evidence-text freezing-text">Freezing</div>
				</div>
				<div class="sanity-container">
					<img src="@ItemTierService.DotsPath" />
					<div class="evidence-text dots-text">D.O.T.S.</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="text-section">
			<div class="section-header">Behaviour</div>
			<div class="wiki-info">
				Smudging a Yurei will force the ghost into its favorite room and trap it for 90 seconds.
				<br />The ghost will move freely during hunts.
				<br /><br />
				The Yurei cannot move doors slightly. It either opens or closes the door completely. This does not apply during hunts.
			</div>
			<br />
			<div class="section-header">Abilities<br /></div>
			<div class="wiki-info">
				When choosing to use its ability, The Yurei will first check if its current room has an opened door. Hiding spots do not count.
				If the check is successful, all players within 7.5 meters inside the investigation area will lose 15% sanity.
				<br />The door will be closed in a gentle way.
			</div>
			<br />
		</div>
	</div>
</div>