@page "/wiki/yurei"

<div class="wiki-container">
	<img src="/Images/GhostIcons/yurei.webp" />
	<div class="wiki-text">
		<h1 class="header-text wiki-header">
			Yurei
		</h1>
		<hr />
		<div class="wiki-info">
			<ul>
				<li>Hunting Threshold: 50%</li>
				<li>Smudging a Yurei will temporarily trap it and reduce how often it wanders</li>
				<li>Always fully opens or closes doors (does not apply during hunts)</li>
				<li>Can fully close a open door to drain 15% sanity of all players within a 7.5 meters range</li>
			</ul>
		</div>
	</div>
</div>