@page "/"

<h1 class="header-text center-flex">
	Welcome to PhasmoStats
</h1>
<hr />

<div class="text-section" style="margin-left: 4%">
	<p class="home-text">
		Hi and thanks for using PhasmoStats! ❤️
		<br />This is a hobby-project made to view some of Phasmophobia's hidden stats.
		<br />It's still in development. A wiki about everything and settings are planned.
		<br /><br />More information (hopefully) on <a href="https://github.com/woshimarcel/PhasmoStats">GitHub</a>!
		<br /><br />Don't be shy and join my <a href="https://discord.gg/CUSAMPn6mk">Discord Server</a>! (Work in Progress tho)
	</p>
</div>
