@page "/"

<h1 class="header-text center-flex">
	Welcome to PhasmoStats
</h1>
<hr />

<p class="home-text">
	Hi and thanks for using PhasmoStats! ❤️
	<br />
	This is a hobby-project made to view some of Phasmophobia's hidden stats.
	<br />
	The program is still in development, expect bugs and not so beautiful UI :D
	<br />
	<br />
	More information (hopefully) on <a href="https://github.com/woshimarcel/PhasmoStats">GitHub</a>!
</p>
