@page "/"

<h1 class="header-text center-flex">
	Welcome to PhasmoStats
</h1>
<hr />

<p class="center-flex" style="text-align: center">
	Hi, thanks for using PhasmoStats!
	<br />
	This is a hobby-project made to view some of Phasmophobia's hidden stats.
	<br />
	The program is still in development, expect bugs and not so beautiful UI :D
</p>
