@inherits LayoutComponentBase

<div class="page">
    <main style="height: auto; min-height: 100vh">
        <NavMenu />
        <article class="content px-4" style="margin-top: 5rem;">
            @Body
        </article>
    </main>
</div>
