@inherits LayoutComponentBase

<div class="page">
    <main style="height: auto; min-height: 100vh">
        <NavMenu />
        <article style="margin: 6rem 2rem 60rem 2rem;">
            @Body
        </article>
    </main>
</div>
