@inherits LayoutComponentBase

<link rel="stylesheet" href="css/root.css">

<div class="page">
    <main class="page-height">
        <NavMenu />
        <article class="page-margin">
            @Body
        </article>
    </main>
</div>
