<link rel="stylesheet" href="css/navigation.css">

<div class="navigation-container">
    <div class="navigation">
        <NavLink class="navigation-item" href="" Match="NavLinkMatch.All">
            <img class="navigation-icon" src="/Images/NavigationIcons/home.png" />
            <div class="navigation-hidden">Home</div>
        </NavLink>
        <NavLink class="navigation-item" href="settings" Match="NavLinkMatch.All">
            <img class="navigation-icon" src="/Images/NavigationIcons/settings.png" />
            <div class="navigation-hidden">Settings</div>
        </NavLink>
        <div class="navigation-item">
            <img class="navigation-icon" src="/Images/NavigationIcons/stats.png" />
            <div class="navigation-hidden">Stats</div>
            <div class="navigation-subitem">
                <NavLink href="stats/ghosts"><img class="bi" src="/Images/NavigationIcons/ghost.png"/><div>Ghosts</div></NavLink>
                <NavLink href="stats/maps"><img class="bi" src="/Images/NavigationIcons/house.png"/><div>Maps</div></NavLink>
                <NavLink href="stats/bones"><img class="bi" src="/Images/NavigationIcons/bone.png"/><div>Bones</div></NavLink>
                <NavLink href="stats/cursed-objects"><img class="bi" src="/Images/NavigationIcons/ouija-board.png"/><div>Cursed Objects</div></NavLink>
                <NavLink href="stats/case/player"><img class="bi" src="/Images/NavigationIcons/player.png"/><div>Case - Player</div></NavLink>
                <NavLink href="stats/case/ghost"><img class="bi" src="/Images/NavigationIcons/ghost.png"/><div>Case - Ghost</div></NavLink>
            </div>
        </div>
        <div class="navigation-item">
            <img class="navigation-icon" src="/Images/NavigationIcons/wiki.png" />
            <div class="navigation-hidden">Wiki</div>
            <div class="navigation-subitem" style="grid-template-columns: repeat(3, 1fr);">
                <NavLink href="wiki/banshee"><img class="bi" src="/Images/GhostIcons/banshee.webp"/><div>Banshee</div></NavLink>
                <NavLink href="wiki/dayan"><img class="bi" src="/Images/GhostIcons/spirit.webp" /><div>Dayan</div></NavLink>
                <NavLink href="wiki/demon"><img class="bi" src="/Images/GhostIcons/demon.webp"/><div>Demon</div></NavLink>
                <NavLink href="wiki/deogen"><img class="bi" src="/Images/GhostIcons/deogen.webp"/><div>Deogen</div></NavLink>
                <NavLink href="wiki/gallu"><img class="bi" src="/Images/GhostIcons/spirit.webp" /><div>Gallu</div></NavLink>
                <NavLink href="wiki/goryo"><img class="bi" src="/Images/GhostIcons/goryo.webp"/><div>Goryo</div></NavLink>
                <NavLink href="wiki/hantu"><img class="bi" src="/Images/GhostIcons/hantu.webp"/><div>Hantu</div></NavLink>
                <NavLink href="wiki/jinn"><img class="bi" src="/Images/GhostIcons/jinn.webp"/><div>Jinn</div></NavLink>
                <NavLink href="wiki/mare"><img class="bi" src="/Images/GhostIcons/mare.webp"/><div>Mare</div></NavLink>
                <NavLink href="wiki/moroi"><img class="bi" src="/Images/GhostIcons/moroi.webp"/><div>Moroi</div></NavLink>
                <NavLink href="wiki/myling"><img class="bi" src="/Images/GhostIcons/myling.webp"/><div>Myling</div></NavLink>
                <NavLink href="wiki/obake"><img class="bi" src="/Images/GhostIcons/obake.webp"/><div>Obake</div></NavLink>
                <NavLink href="wiki/obambo"><img class="bi" src="/Images/GhostIcons/spirit.webp" /><div>Obambo</div></NavLink>
                <NavLink href="wiki/oni"><img class="bi" src="/Images/GhostIcons/oni.webp"/><div>Oni</div></NavLink>
                <NavLink href="wiki/onryo"><img class="bi" src="/Images/GhostIcons/onryo.webp"/><div>Onryo</div></NavLink>
                <NavLink href="wiki/phantom"><img class="bi" src="/Images/GhostIcons/phantom.webp"/><div>Phantom</div></NavLink>
                <NavLink href="wiki/poltergeist"><img class="bi" src="/Images/GhostIcons/poltergeist.webp"/><div>Poltergeist</div></NavLink>
                <NavLink href="wiki/raiju"><img class="bi" src="/Images/GhostIcons/raiju.webp"/><div>Raiju</div></NavLink>
                <NavLink href="wiki/revenant"><img class="bi" src="/Images/GhostIcons/revenant.webp"/><div>Revenant</div></NavLink>
                <NavLink href="wiki/shade"><img class="bi" src="/Images/GhostIcons/shade.webp"/><div>Shade</div></NavLink>
                <NavLink href="wiki/spirit"><img class="bi" src="/Images/GhostIcons/spirit.webp"/><div>Spirit</div></NavLink>
                <NavLink href="wiki/thaye"><img class="bi" src="/Images/GhostIcons/thaye.webp" /><div>Thaye</div></NavLink>
                <NavLink href="wiki/mimic"><img class="bi" src="/Images/GhostIcons/mimic.webp"/><div>The Mimic</div></NavLink>
                <NavLink href="wiki/twins"><img class="bi" src="/Images/GhostIcons/twins.webp"/><div>The Twins</div></NavLink>
                <NavLink href="wiki/wraith"><img class="bi" src="/Images/GhostIcons/wraith.webp"/><div>Wraith</div></NavLink>
                <NavLink href="wiki/yokai"><img class="bi" src="/Images/GhostIcons/yokai.webp"/><div>Yokai</div></NavLink>
                <NavLink href="wiki/yurei"><img class="bi" src="/Images/GhostIcons/yurei.webp" /><div>Yurei</div></NavLink>
            </div>
        </div>
    </div>
    <NavLink href="" class="navigation-title header-text">PhasmoStats</NavLink>
</div>