<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PhasmoStats</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link btn btn-link text-start w-100" @onclick="ToggleStats">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Stats
            </NavLink>

            @if (showStats)
            {
                <div class="ms-4 mt-1">
                    <NavLink class="nav-link" href="statsGhosts">Ghosts</NavLink>
                    <NavLink class="nav-link" href="statsMaps">Maps</NavLink>
                    <NavLink class="nav-link" href="statsBones">Bones</NavLink>
                    <NavLink class="nav-link" href="statsCursedObjects">Cursed Objects</NavLink>
                    <NavLink class="nav-link" href="statsCase">Case</NavLink>
                </div>
            }
        </div>
    </nav>
</div>

@code 
{
    private bool showStats;

    private void ToggleStats() => showStats = !showStats;
}