body {
	font-size: 1.3em;
}

.nav-link {
	font-size: 1.2em;
}

.header-text {
	font-family: 'October Crow';
	font-weight: bold;
	font-size: 6.5em;
}

.wiki-header {
	padding-left: 10%;
}

.stats-navigation {
	font-family: 'October Crow';
	font-weight: bold;
	font-size: 3em;
	color: black;
}

a:link {
	color: inherit;
}

a:hover {
	color: #9e0077;
}

a:active {
	color: #cf00cc;
}

th {
	font-size: 1.3em;
	color: black;
	background: linear-gradient(#BDA873 92%, #000 92%) !important;
	user-select: none;
	position: sticky;
	top: 0;
}

tr {
	border-bottom: 1px solid;
	background-color: #C9C19B;
}

table tr:hover td {
	background-color: rgba(240, 240, 240, 0.7);
}

tr:nth-child(even) {
	background: #AFA889;
}

.center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

table {
	text-align: center;
	vertical-align: middle;
	table-layout: fixed;
	width: 94% !important;
	margin: 0 auto;
	margin-bottom: 7em !important;
	border-collapse: collapse;
}

.wiki-container {
	display: flex;
	align-items: flex-start;
	gap: 2em;
	justify-content: center
}

.wiki-text {
	flex: 1;
	padding-top: 3em;
}

.wiki-info {
	padding-left: 5%;
	padding-right: 10%;
}

.page {
	background: radial-gradient(circle at 40% top, #5A5A5A 0%, #5A5A5A 15%, transparent 75%), /* Normal Flashlight */
	radial-gradient(circle at 80% bottom, #9e00ff 0%, transparent 22%) !important; /* UV Flashlight */
	background-color: #0F0F0F !important;
	color: black !important;
}

.stats-header {
	padding-left: 10% !important;
	margin-bottom: 0.2em;
}

hr {
	height: 4px !important;
	background-color: #222 !important;
	opacity: 1;
}

.home-text {
	font-size: 1.5em;
	text-align: center;
}