@page "/stats/case/ghost"
@using Logic

<h1 class="header-text stats-header">Ghost</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Extra</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kv in _data)
        {
            <tr>
                <td>@kv.Key</td>
                <td>@kv.Value.Value</td>
                <td>@kv.Value.Extra</td>
            </tr>
        }
    </tbody>
</table>

@code 
{
    private Dictionary<string, (string Value, string Extra)>? _data;

    protected override void OnInitialized()
    {
        DataRefresher.OnDataUpdated += Refresh;
    }

    private void Refresh()
    {
        _ = InvokeAsync(() =>
        {
            _data = DataGetter.GetCasePlayerData(FileDeserializer.Data);
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        DataRefresher.OnDataUpdated -= Refresh;
    }

    protected override async Task OnInitializedAsync()
    {
        _data = DataGetter.GetCaseGhostData(FileDeserializer.Data);
    }
}
